[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sqlalchemy = "*"
asyncpg = "*"
python-dotenv = "*"
validators = "*"
python-telegram-bot = {extras = ["job-queue"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
